@model Paritanssi.ViewModels.ViewTasksModel
@{
    ViewBag.Title = "Paritanssi Management System";
}




<br/>
<div class="container">
        <h1>@Model.Project.Name</h1>
        <div class="row">
            <div class="col-md-4">
                <h2 class="lead">Todo <a class="list-group-item" data-toggle="collapse" data-target="#New">+ New</a></h2>
                
                @using (Html.BeginForm(null, null, FormMethod.Post, new {name = "form", id = "form"})) {
                    @Html.HiddenFor(m => m.Project.Id);
                    <div id="New" class="collapse">
                        <p>Name: <br/>
                            Description: @Html.EditorFor(m => m.NewTask.Description)</p>
                        <button type="submit" class="btn btn-success">OK</button><br/><br/>
                    </div>
                }
                
                <!-- Eka column -->
                <div class="list-group">
                    
                    @* Sori hattuvakiosta.... *@
                    @foreach (var row in Model.Tasks.Where(m => m.Status == 0)) {
                        <div class="row">
                            <a class="list-group-item pull-left" href="/Task/Demote?id=@row.Id&projectid"><span class="glyphicon glyphicon-backward"></span></a>
                            <a class="list-group-item pull-right" href="/Task/Promote?id=@row.Id"><span class="glyphicon glyphicon-forward"></span></a>
                            <a class="list-group-item col-md-10" data-toggle="collapse" data-target="#@row.Id">@row.Description</a>
                        </div>
                        <div id="@row.Id" class="collapse">
                            <p>@row.Description</p>
                        </div>
                    }
                </div>
            </div>
            
            <!-- In production -->
            <div class="col-md-4">
                <h2 class="lead">In production</h2>
                <div class="list-group">
                     @foreach (var row in Model.Tasks.Where(m => m.Status == 1)) {
                        <div class="row">
                            <a class="list-group-item pull-left" href="/Task/Demote?id=@row.Id&projectid"><span class="glyphicon glyphicon-backward"></span></a>
                            <a class="list-group-item pull-right" href="/Task/Promote?id=@row.Id"><span class="glyphicon glyphicon-forward"></span></a>
                            <a class="list-group-item col-md-10" data-toggle="collapse" data-target="#@row.Id">@row.Description</a>
                        </div>
                        <div id="@row.Id" class="collapse">
                            <p>@row.Description</p>
                        </div>
                    }
                </div>
            </div>
            
            
            <!-- Done -->
            <div class="col-md-4">
                <h2 class="lead">Done</h2>
                <div class="list-group">
                     @foreach (var row in Model.Tasks.Where(m => m.Status == 2)) {
                        <div class="row">
                            <a class="list-group-item pull-left" href="/Task/Demote?id=@row.Id&projectid"><span class="glyphicon glyphicon-backward"></span></a>
                            <a class="list-group-item pull-right" href="/Task/Promote?id=@row.Id"><span class="glyphicon glyphicon-forward"></span></a>
                            <a class="list-group-item col-md-10" data-toggle="collapse" data-target="#@row.Id">@row.Description</a>
                        </div>
                        <div id="@row.Id" class="collapse">
                            <p>@row.Description</p>
                        </div>
                    }
                </div>
            </div>
        </div>
</div>
